*{
    margin: 0%;
    padding: 0%;
}
.menu-header-container{
    position: fixed;
    width: 100%;
    margin-top: 0%;
    background-color: white;
}

.logo{
margin-left: 38%;
}

.menu{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.menu-container{
    display: flex;
}

ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

.lista-recetas-ul-main{
    margin-left: 25%;
    width: 150%;
    font-size: larger;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}
.elementos-lista-recetas-ul-main{
    background-color:rgba(192,192,192,0.3);
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.imagenes-previsualizacion-lista-recetas{
    width: 400px;
    height: 400px;
    transform:rotate(90deg);
}
.main-container{
    display: flex;
    flex-direction: column;
}
article{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-top: 10%;
}
footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}